<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>collect-DEV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>collect-RELEASE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>collect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8965E9F71952740D00E772EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8965EA1B1952740D00E772EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8965EA36195287E200E772EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8965EA58195287E200E772EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8965EA70195287F600E772EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8965EA92195287F700E772EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
